*{
    margin: 0%;
    
}

body{
    flex-direction: column;
    
    height: 100vh;
    background-color: #060114;
    margin: 0;
    gap: 20px;
}

.socialmedia{
 display:flex;
    justify-content: center;
    align-items: center;

}
.media{
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #126161;
    height: 40px;
    width: 40px;
    padding: 15px;
     border-radius:50%;
    transition: 0s;
} 

.media:hover{
    transform: translate(-30px);
    cursor: pointer;
}

.facebook:hover{
    color: #1974ec;
    background-color:#f7f7f7;
    box-shadow: #2c80eee7 0 0 15px 15px;
}

.instagram:hover{
    color: white;
    background-image: radial-gradient(
        circle at 30% 30%,#feda75,#fa7e1e
        ,#d62976,#962fbf,#4f5bd5);
    box-shadow:#feda75 -5px -5px -5px 15px 10px
    , #fa7e1e 0 0 20px 10px
    , #d62976 7px -5px 15px 10px
    , #962fbf 0 5px 15px 10px
    , #4f5bd5 -2x 6px 15px 10px;
}

.messenger:hover{
    color: #1974ec;
    background-color:#f7f7f7;
    box-shadow: #2c80eee7 0 0 15px 15px;
}

.whatsapp:hover{
    color: #1cf82e;
    background-color:#f7f7f7;
    box-shadow: #1cf82e 0 0 15px 15px;
}
.linkedin:hover{
    color: #1974ec;
    background-color:#f7f7f7;
    box-shadow: #2c80eee7 0 0 15px 15px;
}

.reddit:hover{
    color: #f3890f;
    background-color:#f7f7f7;
    box-shadow: #f3890f 0 0 15px 15px;
}

.youtube:hover{
    color: #fe0808;
    background-color: white;
    box-shadow: #fe0808 0 0 15px 15px;
}

.twitter:hover{
    color: #1974ec;
    background-color:#f7f7f7;
    box-shadow: #2c80eee7 0 0 15px 15px;
}

.telegram:hover{
    color: #1974ec;
    background-color:#f7f7f7;
    box-shadow: #2c80eee7 0 0 15px 15px;
}

.mail:hover{
    color: #f745bb;
    background-color:#f7f7f7;
    box-shadow: #f745bb 0 0 15px 15px;
}

.github:hover{
    color: #0f012e;
    background-color:#f7f7f7;
    box-shadow: #0f012e 0 0 15px 15px;
}

.welc{color: #f7f7f7;
font-size: 1.5rem;
margin-bottom:40px;
font-family: 'Parisienne',cursive;
  font-weight: bold;
  background: linear-gradient(90deg, #f51c39, #69e5f5);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* For Firefox (needs experimental flag to work) */
      background-clip: text;
      color: transparent;
}
.end{
    text-align: center;
    font-size: 5rem;
    margin-top: 40px;
    margin-bottom: 20px;
    
    font-family: 'Great Vibes', cursive;
    color: #f8efef;
    text-shadow: 0 0 5px #f16bbe,0 0 15px #f16bbe, 0 0 20px #f16bbe, 0 0 40px #f16bbe,0 0 60px #f16bbe,0 0 10px #f16bbe,0 0 98px #f16bbe;
  
    }
  
